<div class="formRevalidar" #content>

  <div style="text-align: center;">
    <h1 mat-dialog-title >Nuevo producto</h1>
  </div>

  <div mat-dialog-content>

    <mat-form-field style="width:25%;" class="doc_id" appearance="outline">
      <mat-label>Codigo:</mat-label>
      <input matInput [(ngModel)]="data.codigo" >
    </mat-form-field>

    <mat-form-field style="width:65%;" class="doc_id" appearance="outline">
      <mat-label>Descripcion:</mat-label>
      <input matInput [(ngModel)]="data.descripcion">
    </mat-form-field>

    <mat-form-field style="width:45%;" class="doc_id" appearance="outline">
      <mat-label>Valor sistema:</mat-label>
      <input matInput [(ngModel)]="data.val_sis">
    </mat-form-field>

    <mat-form-field style="width:45%;" class="doc_id" appearance="outline">
      <mat-label>Und. sistema:</mat-label>
      <input matInput [(ngModel)]="data.um_sis">
    </mat-form-field>

    <mat-form-field style="width:45%;" class="doc_id" appearance="outline">
      <mat-label>Valor proveedor:</mat-label>
      <input matInput [(ngModel)]="data.val_prov">
    </mat-form-field>
    
    <mat-form-field style="width:45%;" class="doc_id" appearance="outline">
      <mat-label>Und. proveedor:</mat-label>
      <input matInput [(ngModel)]="data.um_prov">
    </mat-form-field>

    <mat-form-field style="width:70%;" class="sala" id="sala" appearance="outline" >
      <mat-label>Proveedor:</mat-label>
      <mat-select [(value)]="data.provider" >
          <mat-option *ngFor="let p of providers" [value]="p['ruc']">{{p['categoria']}} - {{p['razon_social']}}</mat-option>
      </mat-select>
    </mat-form-field>

<!--     <mat-form-field style="width:29%;" class="sala" id="sala" appearance="outline" >
      <mat-label>Sede:</mat-label>
      <mat-select [(value)]="data.campus_id" >
          <mat-option *ngFor="let c of campus" [value]="c['campus_id']">{{c['name']}}</mat-option>
      </mat-select>
    </mat-form-field> -->


  </div>


  <div mat-dialog-actions style="text-align: left;">

    <button mat-raised-button style="background-color:rgb(32, 142, 32); color: white; text-align: left;" (click)="save()">
      <mat-icon>
        save
      </mat-icon>
      Guardar
    </button>

  </div>

</div>
