.barra {
  flex: 0 1 auto;
  color:white;
  background-color: rgb(34, 146, 161);
  height: 60px;
}

.example-spacer {
  flex: 1 1 auto;
}

mat-form-field {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right:10px;
  margin-left:10px;
  border-radius: 20px;
}

.navItem{
  color: whitesmoke;
}

.mat-cell{
  padding: 5px 5px 5px 5px;
}

.fondo{
  /*   background: -webkit-linear-gradient(45deg, #4a5b5a, #8daeb0);
    background: -o-linear-gradient(45deg, #4a5b5a, #8daeb0);
    background: -moz-linear-gradient(45deg, #4a5b5a, #8daeb0);
    background: linear-gradient(45deg, #4a5b5a, #8daeb0); */
  background-color: #6a7e7f;
  color: whitesmoke;
}


