<div class=" bg-amber-100 m-3 p-9" style="margin:20px;max-width: 100%; max-height:100%;" >


  <div class="w-full p-6 bg-white border border-gray-200 rounded-lg shadow
  dark:bg-gray-800 dark:border-gray-700">




  
  <a>
    <h5 class="mb-2 text-2xl font-semibold tracking-tight text-gray-900 dark:text-white">
      NUEVO USUARIO</h5>
</a>


    <!-- <mat-card style="margin:10px">
      <mat-card-title>
        NUEVA ACTIVIDAD
      </mat-card-title>
      <mat-card-content> -->

      
          
         <mat-form-field style="width:70%;" appearance="outline">
          <mat-label>Actividad:</mat-label>
          <input matInput [(ngModel)]="acti.actividad">
        </mat-form-field> 

        <mat-form-field style="width:20%;" appearance="outline" >
          <mat-label>Estado:</mat-label>
          <mat-select disabled [(value)]="acti.estado" >
              <mat-option *ngFor="let e of estados" [value]="e">{{e}}</mat-option>
          </mat-select>
        </mat-form-field>

 
      <mat-card-actions>
        <button mat-raised-button style="background-color: rgb(59, 145, 82); color:white" (click)="regActivity()" > 
          <mat-icon>add_task</mat-icon>
          Registrar
        </button>
      </mat-card-actions>

    </div>

<!--caja-->
<div class="w-full p-6 bg-white border border-gray-200 rounded-lg shadow
dark:bg-gray-800 dark:border-gray-700">





<a>
  <h5 class="mb-2 text-2xl font-semibold tracking-tight text-gray-900 dark:text-white "appearance="standard" style="display:display-inline">
    ACTIVIDADES</h5>
    <input matInput (keyup)="applyFilterProd($event)" placeholder="Escribe algo para buscar" #input1></a>

<!-- 
    <mat-card style="margin:10px">
      <mat-card-title>
        ACTIVIDADES
      </mat-card-title>
      <mat-card-content>
        <mat-form-field appearance="standard" style="display:display-inline">
          <mat-label>Búsqueda</mat-label>
          <input matInput (keyup)="applyFilterProd($event)" placeholder="Escribe algo para buscar" #input1>
        </mat-form-field> -->


        <div class="mat-elevation-z8" style="width:100%; text-align: left;">
            <table mat-table style="width:100%;" [dataSource]="dataSourceActivities" matSort multiTemplateDataRows>

              <ng-container matColumnDef="actividad">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> ACTIVIDAD </th>
                <td mat-cell *matCellDef="let a"> {{a.actividad}}</td>
              </ng-container>

              <ng-container matColumnDef="estado">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> ESTADO </th>
                <td mat-cell *matCellDef="let a">
                  <mat-form-field appearance="outline" >
                    <mat-select [(value)]="a.estado" >
                        <mat-option *ngFor="let e of estados" [value]="e">{{e}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </td>
              </ng-container>


              <ng-container matColumnDef="delete">
                <th mat-header-cell *matHeaderCellDef >
                  ELIMINAR
                </th>
                <td mat-cell *matCellDef="let a; let i=index">
                  <button mat-icon-button color="accent" (click)="eliminar(a)"> <mat-icon>delete</mat-icon> </button>&nbsp;
                </td>
              </ng-container>




              <tr mat-header-row *matHeaderRowDef="['actividad','estado','delete'];"></tr>
              <tr mat-row *matRowDef="let row; columns: ['actividad','estado','delete'];"></tr>



              <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="6">No se encontró "{{input1.value}}"</td>
              </tr>
            </table>

            <mat-paginator [pageSizeOptions]="[10, 20, 50, 100]" aria-label="Página"></mat-paginator>
        </div>
     
 
</div>
</div>