<div class=" bg-amber-100 m-3 p-9" style="margin:20px;max-width: 100%; max-height:100%;" >
 
    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center" color="accent" [(selectedIndex)]="demo1TabIndex">
    
      <mat-tab label="NUEVO" class="tabWare">
        <div class="container" style="margin: 0px; text-align:center;" >
  
        
            <div class="w-full p-6 bg-white border border-gray-200 rounded-lg shadow
          dark:bg-gray-800 dark:border-gray-700">
       
        
        
        
          
          <a>
            <h5 class="mb-2 text-2xl font-semibold tracking-tight text-gray-900 dark:text-white">
              NUEVO USUARIO</h5>
        </a>
       
       
       
        <hr class="h-px my-8 col-span-full bg-gray-200 border-0 dark:bg-gray-700"> 
      

        <div class="grid mb-8  rounded-lg
                          md:mb-12 md:grid-cols-3 bg-white dark:bg-gray-800 ">
        <div class="mb-2 mx-3 w-full p-1 width:30%  ">
                <label for="Rol" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"></label>
                <select id="Rol" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg 
                focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 
                dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                
                (change)="setDocUser($event)"
                >
                  <option selected="Doc ">Doc:</option>
                  <option *ngFor="let ty of docTypes" [value]="ty">
                    <button   >{{ty}}</button>
                    </option>
                      </select>

                
            </div>
  
  

            <div class="mx-auto w-full min-w-4">
              <label for="large-input" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"></label>
              <input type="text" appIntegerPositive id="default-input" class="bg-gray-50 border border-gray-300
               text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5
                dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500
                 dark:focus:border-blue-500"
         
                (keyup)="searchDNI()" [(ngModel)]="newUser.doc_number" placeholder="Nº Doc:"
                >
                <button mat-mini-fab (click)="searchDNI()" [disabled]="typeSelected!='DNI'"><mat-icon>search</mat-icon></button>

            </div>
        </div>

            <hr class="h-px my-8 bg-gray-200 border-0 dark:bg-gray-700">

       



              <!-- <mat-form-field style="width:28%; min-width: 200px;" appearance="outline">
                <mat-label>Nº Doc:</mat-label>
                <input matInput required [(ngModel)]="newUser.doc_number" >
              </mat-form-field> -->

              <!-- <button mat-mini-fab (click)="searchDNI()" [disabled]="typeSelected!='DNI'"><mat-icon>search</mat-icon></button> -->
<!--INICIO AVANCE-->
              <div class="grid mb-8  rounded-lg
                          md:mb-12 md:grid-cols-4 bg-white dark:bg-gray-800 ">


              <div class="mb-2 mx-3 w-full p-1 col-span-2 " flex justify-center="items-center" >
                <label for="large-input" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"></label>
                <input type="text" id="default-input" class="bg-gray-50 border border-gray-300
                 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5
                  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500
                   dark:focus:border-blue-500" placeholder="Nombre:">
                  
              </div>
           
           
          
              <div class="mb-2 mx-3 w-full p-1  ">
                <label for="large-input" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"></label>
                <input type="text" id="default-input" class="bg-gray-50 border border-gray-300
                 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5
                  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500
                   dark:focus:border-blue-500" placeholder="Apellido Paterno:">
                  
              </div>

           
              <div class="mb-2 mx-3 w-full p-1  ">
                <label for="large-input" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"></label>
                <input type="text" id="default-input" class="bg-gray-50 border border-gray-300
                 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5
                  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500
                   dark:focus:border-blue-500" placeholder="Apellido Materno :">
                  
              </div>





              <div class="mb-2 mx-3 w-full p-1  ">
                <label for="Genero" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"></label>
                <select id="Genero" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
                    <option selected="">Genero</option>
                    <option value="Mu">Mujer</option>
                    <option value="Ho">Hombre</option>
                    <option value="Otro">Otro</option>
                   
                </select>

            </div>
          


              <mat-form-field style="width:28%; min-width: 200px;" appearance="outline">
                <mat-label>Fecha Nac.:</mat-label>
                <input matInput required [(ngModel)]="newUser.birth_date" (ngModelChange)="newUser.birth_date= $event.toUpperCase()">
              </mat-form-field>

              <div class="mb-2 mx-3 w-40">
                <label for="Estado Civil" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"></label>
                <select id="Estado Civil" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
                    <option selected="">Estado Civil</option>
                    <option value="">Casado </option>
                    <option value="PC">Divorciado</option>
                    <option value="GA">Soltero</option>
                   
                </select>

            </div>
             
             <!--AVANCE-->

          </div>
  
          <hr class="h-px my-8 bg-gray-200 border-0 dark:bg-gray-700">
            

          

          
          <div class="mb-2 mx-3 w-full p-1  ">
            <label for="large-input" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"></label>
            <input type="text" id="default-input" class="bg-gray-50 border border-gray-300
             text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5
              dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500
               dark:focus:border-blue-500" placeholder="Direccion :">
              
          </div>


              <!-- <mat-form-field style="width:90%; min-width: 200px;" appearance="outline">
                <mat-label>Direccion:</mat-label>
                <input matInput required [(ngModel)]="newUser.address" (ngModelChange)="newUser.address= $event.toUpperCase()">
              </mat-form-field> -->

              <div class="grid mb-8  rounded-lg
              md:mb-12 md:grid-cols-4 bg-white dark:bg-gray-800 ">

              <div class="mb-2 mx-3 w-full p-1  ">
                <label for="large-input" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"></label>
                <input type="text" id="default-input" class="bg-gray-50 border border-gray-300
                 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5
                  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500
                   dark:focus:border-blue-500" placeholder="Distrito :">
                  
              </div>
              
              <!-- <mat-form-field style="width:28%; min-width: 200px;" appearance="outline">
                <mat-label>Distrito:</mat-label>
                <input matInput required [(ngModel)]="newUser.district" (ngModelChange)="newUser.district= $event.toUpperCase()">
              </mat-form-field> -->

              
              <div class="mb-2 mx-3 w-full p-1  ">
                <label for="large-input" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"></label>
                <input type="text" id="default-input" class="bg-gray-50 border border-gray-300
                 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5
                  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500
                   dark:focus:border-blue-500" placeholder="Provincia :">
                  
              </div>
             
              <!-- <mat-form-field style="width:28%; min-width: 200px;" appearance="outline">
                <mat-label>Provincia:</mat-label>
                <input matInput required [(ngModel)]="newUser.province" (ngModelChange)="newUser.province= $event.toUpperCase()">
              </mat-form-field> -->

              <div class="mb-2 mx-3 w-full p-1  ">
                <label for="large-input" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"></label>
                <input type="text" id="default-input" class="bg-gray-50 border border-gray-300
                 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5
                  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500
                   dark:focus:border-blue-500" placeholder="Departamento :">
                  
              </div>

          
              <hr class="h-px my-8 col-span-full bg-gray-200 border-0 dark:bg-gray-700"> 


             
             
            <div class="mx-auto w-full min-w-4">
              <label for="large-input" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"></label>
              <input type="text" id="default-input" class="bg-gray-50 border border-gray-300
               text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5
                dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500
                 dark:focus:border-blue-500"
         
                (keyup)=" $event.toUpperCase()" [(ngModel)]="newUser.username" placeholder="Usuario:"
                >
            </div>
           
  
              <div class="mb-2 mx-3 w-full p-1  ">
                <label for="Rol" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"></label>
                <select id="Rol" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg 
                focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 
                dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                
                (change)="setRolUser($event)"
                >
                  <option selected="Rol ">Rol:</option>
                  <option *ngFor="let rl of roleTypes" [value]="rl">
                    <button   >{{rl}}</button>
                    </option>


                </select>

            </div>
              </div>
              </div>
<!-- 
              <mat-form-field style="width:40%; min-width: 200px;" appearance="outline" >
                <mat-label>Rol:</mat-label>
                <mat-select required [(ngModel)]="roleSelected" >
                    <mat-option *ngFor="let rl of roleTypes" [value]="rl">{{rl}}</mat-option>
                </mat-select>
              </mat-form-field>
 -->

        

        <div>
                <button type="button" class="text-white bg-gradient-to-r from-green-400 via-green-500 to-green-600 hover:bg-gradient-to-br focus:ring-4 
               focus:outline-none focus:ring-green-300 dark:focus:ring-green-800 shadow-lg shadow-green-500/50 dark:shadow-lg dark:shadow-green-800/80 font-medium rounded-lg text-sm px-5 
                 py-2.5 text-center me-2 mb-2" (click)="saveUser()">Registrar
                   <svg class="w-6 h-6 text-white dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 21 21">
                 <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m6.072 10.072 2 2 6-4m3.586 4.314.9-.9a2 2 0 0 0 0-2.828l-.9-.9a2 
                 2 0 0 1-.586-1.414V5.072a2 2 0 0 0-2-2H13.8a2 2 0 0 1-1.414-.586l-.9-.9a2 2 0 0 0-2.828 0l-.9.9a2 2 0 0 1-1.414.586H5.072a2 2 0 0 0-2 2v1.272a2 2 0 0 1-.586 1.414l-.9.9a2 
             2 0 0 0 0 2.828l.9.9a2 2 0 0 1 .586 1.414v1.272a2 2 0 0 0 2 2h1.272a2 2 0 0 1 1.414.586l.9.9a2 2 0 0 0 2.828 0l.9-.9a2 2 0 0 1 1.414-.586h1.272a2 2 0 0 0 2-2V13.8a2 2 0 0 1
              .586-1.414Z"/>
                 </svg>
 
                </button>
        </div>
 </div> 
       
  
         
       
  
      
      <mat-tab label="LISTA" class="tabWare">
  
        <div class="container" style="margin: 0px; text-align:center;" >
          <mat-card class="mat-elevation-z8 card-orden">
            <mat-card-content>
              <mat-form-field appearance="standard" style="display:display-inline">
                <mat-label>Búsqueda</mat-label>
                <input matInput (keyup)="applyFilterU($event)" placeholder="Escribe algo para buscar" #input1>
            </mat-form-field>

            <div>
              <button mat-raised-button *ngIf="user_role=='SUPER USUARIO'" style="background-color: rgb(59, 145, 82); color:white" (click)="updateUsersInfo()" > 
                Actualizar datos
              </button>
            </div> 
      
            <div class="mat-elevation-z8" style="width:100%;">
                <table mat-table style="width:100%;" [dataSource]="dataSourceUsers" matSort multiTemplateDataRows>
      
                  <ng-container matColumnDef="type_doc">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> TIPO DOC </th>
                    <td mat-cell *matCellDef="let a"> {{a.type_doc}}</td>
                  </ng-container>
      
                  <ng-container matColumnDef="doc_number">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> N° DOCUMENTO </th>
                    <td mat-cell *matCellDef="let a"> {{a.doc_number}}</td>
                  </ng-container>

                  <ng-container matColumnDef="first_name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> NOMBRES </th>
                    <td mat-cell *matCellDef="let a"> {{a.first_name}}</td>
                  </ng-container>
      
                  <ng-container matColumnDef="paternal_surname">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> APELLIDO PATERNO </th>
                    <td mat-cell *matCellDef="let a"> {{a.paternal_surname}}</td>
                  </ng-container>
      
                  <ng-container matColumnDef="maternal_surname">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> APELLIDO MATERNO </th>
                    <td mat-cell *matCellDef="let a"> {{a.maternal_surname}}</td>
                  </ng-container>
      
                  <ng-container matColumnDef="gender">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> GÉNERO </th>
                    <td mat-cell *matCellDef="let a"> {{a.gender}}</td>
                  </ng-container>
      
                  <ng-container matColumnDef="birth_date">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> FECHA DE NACIMIENTO </th>
                    <td mat-cell *matCellDef="let a"> {{a.birth_date}}</td>
                  </ng-container>

                  <ng-container matColumnDef="civil_status">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> ESTADO CIVIL </th>
                    <td mat-cell *matCellDef="let a"> {{a.civil_status}}</td>
                  </ng-container>

                  <ng-container matColumnDef="profession">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> PROFESION </th>
                    <td mat-cell *matCellDef="let a"> {{a.profession}}</td>
                  </ng-container>

                  <ng-container matColumnDef="cel_number">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> CELULAR </th>
                    <td mat-cell *matCellDef="let a"> {{a.cel_number}}</td>
                  </ng-container>

                  <ng-container matColumnDef="username">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> USUARIO </th>
                    <td mat-cell *matCellDef="let a"> {{a.username}}</td>
                  </ng-container>

                  <ng-container matColumnDef="supply_role">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> ROL </th>
                    <td mat-cell *matCellDef="let a"> 
                      <mat-select [(value)]="a.supply_role" (selectionChange)="changeRole(a)">
                        <mat-option *ngFor="let r of roles" [value]="r" [disabled]="r=='SUPER USUARIO'"> {{r}} </mat-option>
                      </mat-select>
                      
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="settings">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>  </th>
                    <td mat-cell *matCellDef="let a"> 
                      <button mat-icon-button (click)="editUser(a)"><mat-icon>settings</mat-icon></button>
                      
                    </td>
                  </ng-container>
         
      
                  <tr mat-header-row *matHeaderRowDef="usersDisplayedColumns;"></tr>
                  <tr mat-row *matRowDef="let row; columns: usersDisplayedColumns;"></tr>
      
      
      
                  <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="6">No se encontró "{{input1.value}}"</td>
                  </tr>
                </table>
      
                <mat-paginator [pageSizeOptions]="[10, 20, 50, 100]" aria-label="Página"></mat-paginator>
            </div>
            </mat-card-content>
  
  </mat-card>

      


