<mat-toolbar class="barra"  id="barra" style="height:8vh;">
  <mat-toolbar-row >
    <button (click)="cajon.toggle()" mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>

    <span>
      SUPPLY&nbsp;
    </span>
    <span class="example-spacer"></span>
    <button mat-raised-button (click)="logout()">
      <mat-icon>logout</mat-icon>Cerrar sesión
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container class="contenido" style="height:92vh;">
  <mat-sidenav opened  style="min-width: 150px; max-width: 220px; background-color: #252b2b; color: whitesmoke;" #cajon mode="side">
    <mat-nav-list style="padding-top:0px;">
        <p style="margin-top:0px;margin-bottom: 0px; text-align: center;">
          <img *ngIf="user.gender=='MASCULINO'" style="width: 180px; height: 180px; border-radius: 50%; margin-top: 20px; margin-bottom: 5px;" class="mat-elevation-z8" mat-image src="assets/user-male.png"  VSPACE="20">
          <img *ngIf="user.gender=='FEMENINO'" style="width: 180px; height: 180px; border-radius: 50%; margin-top: 20px; margin-bottom: 5px;" class="mat-elevation-z8" mat-image src="assets/user-female.png"  VSPACE="20">
        </p>
        <a>
          <h3 style="text-align:center; margin: 10px;">{{user.first_name+' '+user.last_name}}</h3>
          <p style="text-align:center; margin: 10px;">
            <br/>
            <a style="font-weight:bold;">AREA: </a>
            <a style="font-weight:normal;">{{user_area.name}}</a>
            <br/>
          </p>
          <p style="text-align:center; margin: 10px;">
            <a style="font-weight:bold;">SEDE: </a>
            <a style="font-weight:normal;">{{user_campus.name}}</a>
            <br/>
          </p>
        </a>

        <a mat-list-item routerLink="/" class="navItem">
          <mat-icon class="icon1" >dashboard</mat-icon>
          Dashboard
        </a>
        <a mat-list-item routerLink="/new" class="navItem">
          <mat-icon class="icon4" >category</mat-icon>
          Ingresar requerimiento
        </a>
        <mat-accordion *ngIf="user.supply_role=='SUPERUSUARIO'||user.supply_role=='ADMINISTRADOR'||user_area.name=='ABASTECIMIENTO'" class="navItem">
          <mat-expansion-panel style="background-color: #b03a64">
            <mat-expansion-panel-header style="padding-left:16px; background-color: white;">
              <mat-panel-title>
                <mat-icon class="icon4" >verified</mat-icon>
                Ordenes
              </mat-panel-title>
            </mat-expansion-panel-header>
            <a mat-list-item routerLink="/orden" class="navItem">
              <mat-icon class="icon4" >verified</mat-icon>
              Generar orden
            </a>
            <a mat-list-item routerLink="/warehouse" class="navItem">
              <mat-icon class="icon4" >warehouse</mat-icon>
              Almacen
            </a>
          </mat-expansion-panel>
        </mat-accordion>

        <a mat-list-item routerLink="/daily" class="navItem" *ngIf="user.supply_role=='SUPERUSUARIO'||user.supply_role=='ADMINISTRADOR'">
          <mat-icon class="icon1">today</mat-icon>
          Actividades diarias
        </a>

        <mat-accordion *ngIf="user.supply_role=='SUPERUSUARIO'||user.supply_role=='ADMINISTRADOR'||user_area.name=='ABASTECIMIENTO'" class="navItem">
          <mat-expansion-panel style="background-color: #b03a64">
            <mat-expansion-panel-header style="padding-left:16px; background-color: white;">
              <mat-panel-title>
                <mat-icon class="icon4" >paid</mat-icon>
                Rendicion
              </mat-panel-title>
            </mat-expansion-panel-header>
            <a mat-list-item routerLink="/fondo" class="navItem">
              <mat-icon class="icon4" >paid</mat-icon>
              Rendicion de fondo
            </a>
            <a mat-list-item routerLink="/mobility" class="navItem">
              <mat-icon class="icon4" >directions_car</mat-icon>
              Movilidad
            </a>
          </mat-expansion-panel>
        </mat-accordion>

        <a mat-list-item routerLink="/analytics" class="navItem" *ngIf="user.supply_role=='SUPERUSUARIO'||user.supply_role=='ADMINISTRADOR'">
          <mat-icon class="icon1">analytics</mat-icon>
          Reportes
        </a>

        <mat-accordion *ngIf="user.supply_role=='SUPERUSUARIO'||user.supply_role=='ADMINISTRADOR'" class="navItem">
          <mat-expansion-panel style="background-color: #b03a64">
            <mat-expansion-panel-header style="padding-left:16px; background-color: white;">
              <mat-panel-title>
                <mat-icon class="icon4" >settings</mat-icon>
                Configuracion
              </mat-panel-title>
            </mat-expansion-panel-header>
            <a mat-list-item *ngIf="user.supply_role=='SUPERUSUARIO'||user.supply_role=='ADMINISTRADOR'" routerLink="/users" class="navItem">
              <mat-icon class="icon4" >manage_accounts</mat-icon>
              Usuarios
            </a>
            <a mat-list-item *ngIf="user.supply_role=='SUPERUSUARIO'||user.supply_role=='ADMINISTRADOR'" routerLink="/categories" class="navItem">
              <mat-icon class="icon4" >category</mat-icon>
              Categorias
            </a>
            <a mat-list-item *ngIf="user.supply_role=='SUPERUSUARIO'||user.supply_role=='ADMINISTRADOR'" routerLink="/campus" class="navItem">
              <mat-icon class="icon4" >casino</mat-icon>
              Salas
            </a>
            <a mat-list-item *ngIf="user.supply_role=='SUPERUSUARIO'||user.supply_role=='ADMINISTRADOR'" routerLink="/areas" class="navItem">
              <mat-icon class="icon4" >group_work</mat-icon>
              Areas
            </a>
            <a mat-list-item *ngIf="user.supply_role=='SUPERUSUARIO'||user.supply_role=='ADMINISTRADOR'" routerLink="/providers" class="navItem">
              <mat-icon class="icon4" >store</mat-icon>
              Proveedores
            </a>
            <a mat-list-item *ngIf="user.supply_role=='SUPERUSUARIO'||user.supply_role=='ADMINISTRADOR'" routerLink="/activities" class="navItem">
              <mat-icon class="icon4" >task_alt</mat-icon>
              Actividades
            </a>


          </mat-expansion-panel>
        </mat-accordion>

        <a mat-list-item style="align-content: center;">
          <a mat-stroked-button color="primary">Oscorp Technology</a>
        </a>

    </mat-nav-list>
    <!--<mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Más
          </mat-panel-title>
        </mat-expansion-panel-header>

      </mat-expansion-panel>
    </mat-accordion> -->
  </mat-sidenav>
  <mat-sidenav-content style="height:90vh; " class="fondo">

    <div class="container" style="margin:20px; max-height:100%;" >
      
      <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center" color="accent" [(selectedIndex)]="demo1TabIndex">
        
        <mat-tab label="NUEVO REGISTRO" class="tabWare">
          <div class="container" style="margin: 20px; text-align:center;" >

            <mat-card class="mat-elevation-z8 card-orden">
              <mat-card-title>ACTIVIDAD</mat-card-title>
              <mat-card-content>
                <mat-form-field style="width:22%;" appearance="outline">
                  <mat-label>Fecha:</mat-label>
                  <input matInput [matDatepicker]="dp3" disabled [(ngModel)]="fecha" #ref (dateChange)="dateChange()">
                  <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
                  <mat-datepicker #dp3 disabled="false"></mat-datepicker>
                </mat-form-field>
  
                <mat-form-field style="width:22%;" appearance="outline">
                  <mat-label>Hora Inicio:</mat-label>
                  <input matInput [(ngModel)]="reg.h_inicio" type="time" placeholder="start hour">
                </mat-form-field>
  
                <mat-form-field style="width:22%;" appearance="outline">
                  <mat-label>Hora Fin:</mat-label>
                  <input matInput [(ngModel)]="reg.h_fin" type="time" placeholder="end hour">
                </mat-form-field>

                <mat-form-field style="width:55%;" appearance="outline" >
                  <mat-label>Actividad:</mat-label>
                  <mat-select [(value)]="reg.actividad" >
                      <mat-option *ngFor="let ac of activities" [value]="ac.actividad">{{ac.actividad}}</mat-option>
                  </mat-select>
                </mat-form-field>
      
                <mat-form-field style="width:70%;" appearance="outline">
                  <mat-label>Descripcion:</mat-label>
                  <input matInput [(ngModel)]="reg.descripcion">
                </mat-form-field>
              </mat-card-content>
            </mat-card>
      
            <mat-card style="margin:10px" class="mat-elevation-z8 card-orden">
              <button mat-raised-button style="background-color: rgb(59, 145, 82); color:white" (click)="regDaily()" > 
                <mat-icon>add_task</mat-icon>
                Registrar
              </button>
              
            </mat-card>

          </div>

        </mat-tab>
        
        <mat-tab label="VER REGISTROS" class="tabWare">

          <mat-form-field appearance="standard" style="display:display-inline">
              <mat-label>Búsqueda</mat-label>
              <input matInput (keyup)="applyFilterD($event)" placeholder="Escribe algo para buscar" #input1>
          </mat-form-field>
  
          <div class="mat-elevation-z8" style="width:100%;">
              <table mat-table style="width:100%;" [dataSource]="dataSourceDaily" matSort multiTemplateDataRows>
  
                <ng-container matColumnDef="fecha">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> FECHA </th>
                  <td mat-cell *matCellDef="let a"> {{a.fecha}}</td>
                </ng-container>
  
                <ng-container matColumnDef="h_inicio">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> HORA INICIO </th>
                  <td mat-cell *matCellDef="let a"> {{a.h_inicio}}</td>
                </ng-container>
  
                <ng-container matColumnDef="h_fin">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> HORA FIN </th>
                  <td mat-cell *matCellDef="let a"> {{a.h_fin}}</td>
                </ng-container>

                <ng-container matColumnDef="actividad">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> ACTIVIDAD </th>
                  <td mat-cell *matCellDef="let a"> {{a.actividad}}</td>
                </ng-container>
  
                <ng-container matColumnDef="descripcion">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> DESCRIPCION </th>
                  <td mat-cell *matCellDef="let a"> {{a.descripcion}}</td>
                </ng-container>
  


                <ng-container matColumnDef="edit">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> ANULAR </th>
                  <td mat-cell *matCellDef="let a; let i=index">
                    <button *ngIf="a.estado!='ANULADO'" mat-icon-button color="primary" > <mat-icon> cancel </mat-icon> </button>&nbsp;
                  </td>
                </ng-container>
                

                <tr mat-header-row *matHeaderRowDef="['fecha','h_inicio','h_fin','actividad','descripcion','edit'];"></tr>
                <tr mat-row *matRowDef="let row; columns: ['fecha','h_inicio','h_fin','actividad','descripcion','edit'];"></tr>
  
  
  
                <tr class="mat-row" *matNoDataRow>
                  <td class="mat-cell" colspan="6">No se encontró "{{input1.value}}"</td>
                </tr>
              </table>
  
              <mat-paginator [pageSizeOptions]="[10, 20, 50, 100]" aria-label="Página"></mat-paginator>
          </div>
        </mat-tab>
      
      </mat-tab-group>

    </div>
  </mat-sidenav-content>
</mat-sidenav-container>




