<mat-toolbar class="barra"  id="barra" style="height:8vh;">
  <mat-toolbar-row >
    <button (click)="cajon.toggle()" mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>

    <span>
      SUPPLY&nbsp;
    </span>
    <span class="example-spacer"></span>
    <button mat-raised-button (click)="logout()">
      <mat-icon>logout</mat-icon>Cerrar sesión
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container class="contenido" style="height:92vh;">
  <mat-sidenav opened  style="min-width: 150px; max-width: 220px;" #cajon mode="side">
    <mat-nav-list style="padding-top:0px;">
        <p style="margin-top:0px;margin-bottom: 0px; text-align: center;">
          <img *ngIf="user.gender=='MASCULINO'" style="width: 180px; height: 180px; border-radius: 50%; margin-top: 20px; margin-bottom: 5px;" class="mat-elevation-z8" mat-image src="assets/user-male.png"  VSPACE="20">
          <img *ngIf="user.gender=='FEMENINO'" style="width: 180px; height: 180px; border-radius: 50%; margin-top: 20px; margin-bottom: 5px;" class="mat-elevation-z8" mat-image src="assets/user-female.png"  VSPACE="20">
        </p>
        <a>
          <h3 style="text-align:center; margin: 10px;">{{user.first_name+' '+user.last_name}}</h3>
          <p style="text-align:center; margin: 10px;">
            <br/>
            <a style="font-weight:bold;">AREA: </a>
            <a style="font-weight:normal;">{{user_area.name}}</a>
            <br/>
          </p>
          <p style="text-align:center; margin: 10px;">
            <a style="font-weight:bold;">SEDE: </a>
            <a style="font-weight:normal;">{{user_campus.name}}</a>
            <br/>
          </p>
        </a>

        <a mat-list-item routerLink="/">
          <mat-icon class="icon1" >dashboard</mat-icon>
          Dashboard
        </a>
        <a mat-list-item routerLink="/new">
          <mat-icon class="icon4" >category</mat-icon>
          Ingresar requerimiento
        </a>
        <mat-accordion *ngIf="user.supply_role=='SUPERUSUARIO'||user.supply_role=='ADMINISTRADOR'||user_area.name=='ABASTECIMIENTO'">
          <mat-expansion-panel style="background-color:rgba(34, 146, 161, 0.555)">
            <mat-expansion-panel-header style="padding-left:16px; background-color: white;">
              <mat-panel-title>
                <mat-icon class="icon4" >settings</mat-icon>
                Ordenes
              </mat-panel-title>
            </mat-expansion-panel-header>
            <a mat-list-item routerLink="/orden">
              <mat-icon class="icon4" >verified</mat-icon>
              Generar orden
            </a>
            <a mat-list-item routerLink="/view-orders">
              <mat-icon class="icon4" >visibility</mat-icon>
              Ver ordenes
            </a>
          </mat-expansion-panel>
        </mat-accordion>
        <a mat-list-item *ngIf="user_area.name=='ADMINISTRACION'||user.supply_role=='SUPERUSUARIO'||user.supply_role=='ADMINISTRADOR'||user_area.name=='ABASTECIMIENTO'" routerLink="/fondo">
          <mat-icon class="icon4" >paid</mat-icon>
          Rendicion de fondo
        </a>

        <mat-accordion *ngIf="user.supply_role=='SUPERUSUARIO'||user.supply_role=='ADMINISTRADOR'">
          <mat-expansion-panel style="background-color:rgba(34, 146, 161, 0.555)">
            <mat-expansion-panel-header style="padding-left:16px; background-color: white;">
              <mat-panel-title>
                <mat-icon class="icon4" >settings</mat-icon>
                Configuracion
              </mat-panel-title>
            </mat-expansion-panel-header>
            <a mat-list-item *ngIf="user.supply_role=='SUPERUSUARIO'||user.supply_role=='ADMINISTRADOR'" routerLink="/users">
              <mat-icon class="icon4" >manage_accounts</mat-icon>
              Usuarios
            </a>
            <a mat-list-item *ngIf="user.supply_role=='SUPERUSUARIO'||user.supply_role=='ADMINISTRADOR'" routerLink="/categories">
              <mat-icon class="icon4" >category</mat-icon>
              Categorias
            </a>
            <a mat-list-item *ngIf="user.supply_role=='SUPERUSUARIO'||user.supply_role=='ADMINISTRADOR'" routerLink="/campus">
              <mat-icon class="icon4" >casino</mat-icon>
              Salas
            </a>
            <a mat-list-item *ngIf="user.supply_role=='SUPERUSUARIO'||user.supply_role=='ADMINISTRADOR'" routerLink="/areas">
              <mat-icon class="icon4" >group_work</mat-icon>
              Areas
            </a>
            <a mat-list-item *ngIf="user.supply_role=='SUPERUSUARIO'||user.supply_role=='ADMINISTRADOR'" routerLink="/providers">
              <mat-icon class="icon4" >store</mat-icon>
              Proveedores
            </a>


          </mat-expansion-panel>
        </mat-accordion>

        <a mat-list-item style="align-content: center;">
          <a mat-stroked-button color="primary">Oscorp Technology</a>
        </a>

    </mat-nav-list>
    <!--<mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Más
          </mat-panel-title>
        </mat-expansion-panel-header>

      </mat-expansion-panel>
    </mat-accordion> -->
  </mat-sidenav>
  <mat-sidenav-content style="height:90vh;">
    <div class="container" style="margin:20px" >

      <div style="width:95%; float:center; min-width: 550px; margin:10px">
        <h2>Nuevo requerimiento </h2>

        <mat-form-field style="width:30%;" class="sala" id="sala" appearance="outline" >
          <mat-label>Area:</mat-label>
          <mat-select [(value)]="req.area" (selectionChange)="areaChange($event)">
              <mat-option *ngFor="let a of areas" [value]="a['name']">{{a['name']}}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field style="width:60%;" class="doc_id" appearance="outline">
          <mat-label>Responsable:</mat-label>
          <input matInput [(ngModel)]="req.encargado">
        </mat-form-field>

        <mat-form-field style="width:28%;" class="sala" id="sala" appearance="outline" >
          <mat-label>Sala:</mat-label>
          <mat-select [(value)]="req.sala" (selectionChange)="salaChange($event)">
              <mat-option *ngFor="let c of campus" [value]="c['name']">{{c['name']}}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field style="width:28%;" appearance="outline">
          <mat-label>Fecha:</mat-label>
          <input matInput [matDatepicker]="dp3" disabled [(ngModel)]="fecha" #ref (dateChange)="dateChange(ref.value)">
          <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
          <mat-datepicker #dp3 disabled="false"></mat-datepicker>
        </mat-form-field>

        <mat-form-field style="width:28%;" class="sala" id="sala" appearance="outline" >
          <mat-label>Prioridad:</mat-label>
          <mat-select [(value)]="req.prioridad" (selectionChange)="priorityChange()">
              <mat-option *ngFor="let p of prioridades" [value]="p['nivel']">{{p['nivel']}}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field style="width:90%;" class="doc_id" appearance="outline">
          <mat-label>Motivo:</mat-label>
          <input matInput [(ngModel)]="req.motivo">
        </mat-form-field>

        <h3> Nuevo item </h3>

        <mat-form-field style="width:30%;" class="doc_id" appearance="outline">
          <mat-label>Cantidad:</mat-label>
          <input type="number" matInput [(ngModel)]="item.cantidad">
        </mat-form-field>

        &nbsp;<label >Tipo de orden:</label>

        <mat-radio-group [(ngModel)]="item.tipo">
          &nbsp;<mat-radio-button value="COMPRA">Compra</mat-radio-button>
          &nbsp;<mat-radio-button value="SERVICIO">Servicio</mat-radio-button>
        </mat-radio-group>

        <mat-form-field style="width:60%;" appearance="outline">
          <mat-label>Descripcion:</mat-label>
          <input matInput [(ngModel)]="item.descripcion">
        </mat-form-field>

        <div style="width:30%;" >
          <mat-label>Imagen:</mat-label>
          <input style="display:none" type="file" (change)="onFileChanged($event)" #fileInput>
          <button mat-raised-button (click)="fileInput.click()"><mat-icon>add_a_photo</mat-icon></button>
          <!-- <button mat-raised-button (click)="onUpload()">Upload!</button> -->
        </div>

        <div *ngIf="file">
          <img style="width:300px; height:300px" [src]="preview" class="preview">
        </div>

        &nbsp;

        <div>
          <button mat-raised-button style="background-color: rgb(169, 152, 27); color:white" (click)="addItem()">
            <mat-icon>add</mat-icon>AGREGAR ITEM
          </button>
        </div>


        <h3> Lista </h3>


        <mat-form-field appearance="standard" style="display:display-inline">
            <mat-label>Búsqueda</mat-label>
            <input matInput (keyup)="applyFilterD($event)" placeholder="Escribe algo para buscar" #input1>
        </mat-form-field>

        <div appearance="standard" style="display:display-inline; float:right">
          <button mat-raised-button style="background-color: green; color:white" (click)="saveReq()">
            <mat-icon>check</mat-icon>REGISTRAR
          </button>
        </div>


        <div class="mat-elevation-z8" style="width:100%;">
            <table mat-table style="width:100%;" [dataSource]="dataSourceReq" matSort>

              <ng-container matColumnDef="quantity">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> CANTIDAD </th>
                <td mat-cell *matCellDef="let a; let i=index"> {{a.cantidad}}</td>
              </ng-container>

              <ng-container matColumnDef="description">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> DESCRIPCION </th>
                <td mat-cell *matCellDef="let a"> {{a.descripcion}}</td>
              </ng-container>

              <ng-container matColumnDef="ordertype">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> TIPO DE ORDEN </th>
                <td mat-cell *matCellDef="let a"> {{a.tipo}}</td>
              </ng-container>

              <ng-container matColumnDef="edit">
                <th mat-header-cell *matHeaderCellDef> </th>
                <td mat-cell *matCellDef="let a; let i=index">
                  <button class="btnDel" mat-raised-button focusable="false"  (click)="deleteItem(i)">
                    <mat-icon>delete</mat-icon>
                  </button>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="['quantity','description','ordertype','edit'];"></tr>
              <tr mat-row *matRowDef="let row; columns: ['quantity','description','ordertype','edit'];"></tr>



              <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="6">No se encontró "{{input1.value}}"</td>
              </tr>
            </table>

            <mat-paginator [pageSizeOptions]="[10, 20, 50, 100]" aria-label="Página"></mat-paginator>
        </div>
      </div>


    </div>
  </mat-sidenav-content>
</mat-sidenav-container>




