

<aside id="logo-sidebar" class="fixed top-0 left-0 z-40 w-64 h-screen pt-20 
transition-transform -translate-x-full border-r border-y-white sm:translate-x-0
 bg-white dark:bg-gray-800 dark:border-blue-500" aria-label="Sidebar">
    <div class="h-full px-3 pb-4  dark:bg-gray-800">

 
 
 
 
     <div class="w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-blue-500">
      <div class="flex justify-end px-4 pt-4">
           <button id="dropdownButton" data-dropdown-toggle="dropdown" 
           class="inline-block text-gray-500 dark:text-gray-400 hover:bg-gray-100
            dark:hover:bg-gray-700 focus:ring-4 focus:outline-none focus:ring-gray-200
            dark:focus:ring-gray-700 rounded-lg text-sm p-1.5" type="button">
               <span class="sr-only">Open dropdown</span>
               <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 16 3">
                   <path
                    d="M2 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Zm6.041 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM14 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Z"/>
               </svg>
           </button>
       </div>
       </div>
    </div>
    </aside>