.contenedor-padre {
     display: flex;
    flex-flow: column;
    height: 100vh;
}

.contenido {
  flex: 1 1 auto;
}

.barra {
  flex: 0 1 auto;
  color:white;
  background-color: rgb(34, 146, 161);
  height: 60px;
}

.fondo{
    background-color: #6a7e7f;
    height: 100%;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.fondo::-webkit-scrollbar{  /* Chrome & Safari*/
  display: none;
}

.example-spacer {
  flex: 1 1 auto;
}

.navItem{
  color: whitesmoke;
}


