<div class="p-4 dark:bg-gray-900 h-screen flex flex-col">
    <div class="h-14 flex-none">

    </div>
    <div class="p-4 border-2 border-gray-300 border-dashed rounded-lg dark:border-gray-700 w-full flex-col overflow-hidden h-screen">
        <!-- Botón Agregar Vehículo -->
        <button class="mt-12 mb-9 relative inline-flex items-center justify-center mb-1 me-1 text-lg font-medium text-gray-900 rounded-md group bg-gradient-to-br from-purple-600 to-blue-500 hover:text-white dark:text-white ring-2 ring-blue-300 dark:ring-blue-800 focus:ring-2 focus:outline-none">
            <span class="relative px-6 py-3 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0">
                + Agregar Actividad
            </span>
        </button>            
        <!-- Formulario de Actividad -->
        <div class="border border-gray-300 rounded-lg p-6 mb-8 h-[calc(100vh-200px)] overflow-y-auto"> <!-- Ajusta la altura máxima según sea necesario -->
            <label class="block text-3xl mt-8 mb-7 ml-4 font-light text-gray-900 dark:text-white">NUEVO ACTIVIDAD</label>
            <div class="flex space-x-4 mb-5 justify-center">
                <div class="w-1/5">
                    <label for="placa" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Placa</label>
                    <select id="placa" class="block w-full p-2 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                        <option selected>Choose a country</option>
                        <option value="US">United States</option>
                        <option value="CA">Canada</option>
                        <option value="FR">France</option>
                        <option value="DE">Germany</option>
                    </select>   
                </div>   
                <div class="w-1/5">
                    <label for="conductor" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Conductor</label>
                    <select id="conductor" class="block w-full p-2 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                        <option selected>Choose a country</option>
                        <option value="US">United States</option>
                        <option value="CA">Canada</option>
                        <option value="FR">France</option>
                        <option value="DE">Germany</option>
                    </select>   
                </div> 
                <div class="w-1/5">
                    <label for="destino" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Destino</label>
                    <select id="destino" class="block w-full p-2 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                        <option selected>Choose a country</option>
                        <option value="US">United States</option>
                        <option value="CA">Canada</option>
                        <option value="FR">France</option>
                        <option value="DE">Germany</option>
                    </select>   
                </div>  
            </div>
            <div class="max-w-md mx-auto mt-8">
                <div class="w-full mb-4">
                    <label for="message" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your message</label>
                    <textarea id="message" rows="4" class="block w-full p-2.5 text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Write your thoughts here..."></textarea>
                </div>
                <div class="w-full">
                    <label for="first_name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">First name</label>
                    <input type="text" id="first_name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="John" required />
                </div>
            </div>
            <div class="flex space-x-4 mb-5 justify-center"> 
                <div class="w-1/5">
                    <label for="date" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Fecha Inicio</label>
                    <input id="date" type="date" name="fecha" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required />
                </div>
                <div class="w-1/5">
                    <label for="time" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Hora Inicio</label>
                    <input id="time" type="time" name="hora" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required />
                </div>
            </div>
            <div class="flex space-x-4 mb-3 justify-center">
                <h3 class="text-base font-medium text-gray-900 dark:text-white mb-1">KM Partida</h3>
                <ul class="flex space-x-4 w-full justify-center">
                    <li class="flex-1">
                        <input type="radio" id="hosting-small" name="hosting" value="hosting-small" class="hidden peer" required />
                        <label for="hosting-small" class="inline-flex items-center justify-between w-full p-4 text-gray-500 bg-white border border-gray-200 rounded-lg cursor-pointer dark:hover:text-gray-300 dark:border-gray-700 dark:peer-checked:text-blue-500 peer-checked:border-blue-600 peer-checked:text-blue-600 hover:text-gray-600 hover:bg-gray-100 dark:text-gray-400 dark:bg-gray-800 dark:hover:bg-gray-700">
                            <div class="block">
                                <div class="w-full text-base font-semibold">Vacio</div>
                            </div>
                            <svg class="w-4 h-4 ms-3 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                            </svg>
                        </label>
                    </li>
                    <li class="flex-1">
                        <input type="radio" id="hosting-medium" name="hosting" value="hosting-medium" class="hidden peer">
                        <label for="hosting-medium" class="inline-flex items-center justify-between w-full p-4 text-gray-500 bg-white border border-gray-200 rounded-lg cursor-pointer dark:hover:text-gray-300 dark:border-gray-700 dark:peer-checked:text-blue-500 peer-checked:border-blue-600 peer-checked:text-blue-600 hover:text-gray-600 hover:bg-gray-100 dark:text-gray-400 dark:bg-gray-800 dark:hover:bg-gray-700">
                            <div class="block">
                                <div class="w-full text-base font-semibold">Medio</div>
                            </div>
                            <svg class="w-4 h-4 ms-3 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                            </svg>
                        </label>
                    </li>
                    <li class="flex-1">
                        <input type="radio" id="hosting-full" name="hosting" value="hosting-full" class="hidden peer">
                        <label for="hosting-full" class="inline-flex items-center justify-between w-full p-4 text-gray-500 bg-white border border-gray-200 rounded-lg cursor-pointer dark:hover:text-gray-300 dark:border-gray-700 dark:peer-checked:text-blue-500 peer-checked:border-blue-600 peer-checked:text-blue-600 hover:text-gray-600 hover:bg-gray-100 dark:text-gray-400 dark:bg-gray-800 dark:hover:bg-gray-700">
                            <div class="block">
                                <div class="w-full text-base font-semibold">Lleno</div>
                            </div>
                            <svg class="w-4 h-4 ms-3 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                            </svg>
                        </label>
                    </li>
                </ul> 
            </div>
            <div class="flex justify-end space-x-2">
                <button type="button" class="flex items-center text-white bg-gradient-to-r from-green-400 via-green-500 to-green-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-green-300 dark:focus:ring-green-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">
                    <svg class="w-6 h-6 mr-2 text-white dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linejoin="round" stroke-width="2" d="M4 5a1 1 0 0 1 1-1h11.586a1 1 0 0 1 .707.293l2.414 2.414a1 1 0 0 1 .293.707V19a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V5Z"/>
                        <path stroke="currentColor" stroke-linejoin="round" stroke-width="2" d="M8 4h8v4H8V4Zm7 10a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"/>
                    </svg>
                    Guardar
                </button>
                <button type="button" class="text-white bg-gradient-to-r from-red-400 via-red-500 to-red-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">Cancelar</button>
            </div>
        </div>
        <!----------------------------------------->       
        <div class="overflow-x-auto">
            <label class="block text-3xl mt-8 mb-7 ml-4 font-light text-gray-900 dark:text-white">VEHÍCULOS</label>
            <div class="relative overflow-x-auto max-w-full">
                <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                        <tr>
                            <th scope="col" class="px-6 py-3">
                                PLACA
                            </th>
                            <th scope="col" class="px-6 py-3">
                                TIPO
                            </th>
                            <th scope="col" class="px-6 py-3">
                                MARCA
                            </th>
                            <th scope="col" class="px-6 py-3">
                                AÑO
                            </th>
                            <th scope="col" class="px-6 py-3">
                                EMPRESA
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Add your table rows here -->
                    </tbody>
                </table>
            </div>  
        </div>
        </div>
        <div>
            <label  class="block text-3xl mt-8 mb-7 ml-4 font-light text-gray-900 dark:text-white">REGISTRO EN CURSO</label>
        <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
            <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
            <th scope="col" class="px-6 py-3">
            PLACA
            </th>
            <th scope="col" class="px-6 py-3">
            Conductor
            </th>
            <th scope="col" class="px-6 py-3">
            Destino
            </th>
            <th scope="col" class="px-6 py-3">
            Fecha Inicio
            </th>
            <th scope="col" class="px-6 py-3">
            Hora inicio
            </th>
            <th scope="col" class="px-6 py-3">
                Combustible
            </th>
            <th scope="col" class="px-6 py-3">
                Hora inicio
                </th>
            </tr>
            </thead>
            <tbody>
        
        </tbody>
        </table>
        </div>  
       </div>
        <div>
        <label  class="block text-3xl mt-8 mb-7 ml-4 font-light text-gray-900 dark:text-white">REGISTRO EN FINALIZADO</label>
        <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
            <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
            <th scope="col" class="px-6 py-3">
            PLACA
            </th>
            <th scope="col" class="px-6 py-3">
            Conductor
            </th>
            <th scope="col" class="px-6 py-3">
            Destino
            </th>
            <th scope="col" class="px-6 py-3">
            Fecha Inicio
            </th>
            <th scope="col" class="px-6 py-3">
            Hora inicio
            </th>
            <th scope="col" class="px-6 py-3">
                Hora fin
            </th>
            <th scope="col" class="px-6 py-3">
                Hora inicio
            </th>
            </tr>
            </thead>
            <tbody>
        
        </tbody>
        </table>
        </div>  
</div>

</div>