<div class="container" style="margin:20px; text-align:center; max-height:100%;" >

  <div class="row">
    <div class="column" style="height: 88vh; overflow: scroll;" *ngIf="user_role!='ADMINISTRADOR'&&user_role!='ASISTENTE'">
      <h3 style="text-align:left;">
        PENDIENTES: {{cont_pend}} 
      </h3>
      
      <mat-card *ngFor="let r of reqPendientes" (click)="showReqDetails(r)" class="card" [ngClass]="{'alta':r.prioridad=='ALTA','media':r.prioridad=='MEDIA','baja':r.prioridad=='BAJA'}">
        <mat-card-header class="headerPendiente">
          {{r.codigo}}-{{r.area}}

        </mat-card-header>
        <mat-card-content style="padding:5px;">
          <p>
            <mat-icon>person</mat-icon>&nbsp;{{r.encargado}}
          </p>
          <p>
            <mat-icon>description</mat-icon>&nbsp;{{r.motivo}}
          </p>
          <p>
            <mat-icon>calendar_month</mat-icon>&nbsp;{{r.fecha}}
          </p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="column" style="height: 88vh; overflow: scroll;">
      <h3 style="text-align:left;" *ngIf="user_role!='ASISTENTE'&&user_role!='ADMINISTRADOR'">
        PROCESO: {{cont_asig}}
      </h3>
      <h3 style="text-align:left;" *ngIf="user_role=='ASISTENTE'||user_role=='ADMINISTRADOR'">
        ASIGNADO : {{cont_asig}}
      </h3>

      <mat-card *ngFor="let r of reqProceso" (click)="showReqDetails(r)" class="card" [ngClass]="{'alta':r.prioridad=='ALTA','media':r.prioridad=='MEDIA','baja':r.prioridad=='BAJA'}">
        <mat-card-header class="headerProceso">
          {{r.codigo}}-{{r.area}}

        </mat-card-header>
        <mat-card-content style="padding:5px;">
          <p>
            <mat-icon>person</mat-icon>&nbsp;{{r.encargado}}
          </p>
          <p>
            <mat-icon>description</mat-icon>&nbsp;{{r.motivo}}
          </p>
          <p>
            <mat-icon>calendar_month</mat-icon>&nbsp;{{r.fecha}}
          </p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="column" style="height: 88vh; overflow: scroll;">
      <h3 style="text-align:left;">
        FINALIZADO: {{cont_fina}}
      </h3>

      <mat-card *ngFor="let r of reqFin" (click)="showReqDetails(r)" class="card" [ngClass]="{'fin':'a'=='a'}">
        <mat-card-header >
          {{r.codigo}}-{{r.area}}

        </mat-card-header>
        <mat-card-content style="padding:5px;">
          <p>
            <mat-icon>person</mat-icon>&nbsp;{{r.encargado}}
          </p>
          <p>
            <mat-icon>description</mat-icon>&nbsp;{{r.motivo}}
          </p>
          <p>
            <mat-icon>calendar_month</mat-icon>&nbsp;{{r.fecha}}
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <br/>





</div>


