


mat-form-field {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right:10px;
  margin-left:10px;
  border-radius: 20px;
}

.column {
  float: left;
  margin-left: 0px;
  margin-right: 0px;
  width: 33%;
  min-width: 240px;
  align-content: center;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.column::-webkit-scrollbar{  /* Chrome & Safari*/
  display: none;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.card{
  width: 90%;
  padding: 0px;
  min-width: 220px;
  text-align: left;
  margin-top:20px;
  margin-bottom:20px;
  cursor: pointer;
  border-top-right-radius: 15px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 0px;
}

.headerPendiente{
 background: -o-linear-gradient(45deg, #4d0000, #b82121);
  background: -webkit-linear-gradient(45deg, #4d0000, #b82121);
  background: -o-linear-gradient(45deg, #4d0000, #b82121);
  background: -moz-linear-gradient(45deg, #4d0000, #b82121);
  background: linear-gradient(45deg, #4d0000, #b82121);
  color: whitesmoke;
  border-top-right-radius: 15px;
}

.headerProceso{
  background: -webkit-linear-gradient(45deg, #7fa6f5, #002783);
  background: -o-linear-gradient(45deg, #7fa6f5, #002783);
  background: -moz-linear-gradient(45deg, #7fa6f5, #002783);
  background: linear-gradient(45deg, #7fa6f5, #002783);
  color: whitesmoke;
  border-top-right-radius: 15px;
}
.alta{
  background: -webkit-linear-gradient(45deg, #e2afff, #410066);
  background: -webkit-linear-gradient(45deg, #e2afff, #410066);
  background: -o-linear-gradient(45deg, #e2afff, #410066);
  background: -moz-linear-gradient(45deg, #e2afff, #410066);
  background: linear-gradient(45deg, #e2afff, #410066);
  color: whitesmoke;
}

.headerFinalizado{
  background: -webkit-linear-gradient(45deg, #b3f2b3, #1b9b1b);
  background: -o-linear-gradient(45deg, #b3f2b3, #1b9b1b);
  background: -moz-linear-gradient(45deg, #b3f2b3, #1b9b1b);
  background: linear-gradient(45deg, #b3f2b3, #1b9b1b);
  color: whitesmoke;
}

.fin{
  background: -webkit-linear-gradient(45deg, #229622, #229622);
  background: -o-linear-gradient(45deg, #229622, #1b9b1b);
  background: -moz-linear-gradient(45deg, #229622, #1b9b1b);
  background: linear-gradient(45deg, #229622, #1b9b1b);
  color: whitesmoke;
}

.alta{
  background: -webkit-linear-gradient(45deg, #cca509, #e4d186);
  background: -webkit-linear-gradient(45deg, #cca509, #e4d186);
  background: -o-linear-gradient(45deg, #cca509, #e4d186);
  background: -moz-linear-gradient(45deg, #cca509, #e4d186);
  background: linear-gradient(45deg, #cca509, #e4d186);
  color: whitesmoke;
}

.media{
  background: -webkit-linear-gradient(45deg, #2980B9, #47a1de);
  background: -o-linear-gradient(45deg, #2980B9, #47a1de);
  background: -moz-linear-gradient(45deg, #2980B9, #47a1de);
  background: linear-gradient(45deg, #2980B9, #47a1de);
  color: whitesmoke;
}

.baja{
  background: -webkit-linear-gradient(0deg, #ffef89, #d1bc00);
  background: -webkit-linear-gradient(0deg, #ffef89, #d1bc00);  
  background: -moz-linear-gradient(0deg, #ffef89,#d1bc00 );
  background: -moz-linear-gradient(0deg, #ffef89,#d1bc00 );
}

.navItem{
  color: whitesmoke;
}

.mat-cell{
  padding: 5px 5px 5px 5px;
}

.card-orden{
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
  margin-top: 20px;

  border-radius: 15px;


  background: -webkit-linear-gradient(0deg, #f3f3f3, #f3f3f3);
  background: -o-linear-gradient(0deg, #f3f3f3, #f3f3f3);
  background: -moz-linear-gradient(0deg, #f3f3f3, #f3f3f3);

  background: linear-gradient(0deg, #f3f3f3,);
}

.lbl_description{
  /* color: rgb(255, 255, 255); */
}
